@font-face {
  font-family: Mohr;
  src: url("../assets/fonts/Mohr.ttf");
}

* {
  padding: 0;
  margin: 0;
  font-family: Mohr;
}

.color {
  -webkit-animation: color 1s alternate infinite;
          animation: color 1s alternate infinite;
}

@-webkit-keyframes color {
  form {
    color: #162a83;
  }
  to {
    color: #f4b802;
  }
}

@keyframes color {
  form {
    color: #162a83;
  }
  to {
    color: #f4b802;
  }
}

body {
  background-color: whitesmoke;
}

header {
  background-color: #626262;
  opacity: .9;
  margin-bottom: 10px;
  width: 100%;
}

nav {
  display: inline-block;
  width: 100%;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #162a83;
  font-size: 20px;
  font-weight: bold;
}

nav ul li a:hover {
  color: white;
}

.principal__titulo--centradostrong {
  text-align: center;
  margin-top: 20px;
  font-weight: bolder;
  color: #162a83;
}

.principal_subtitulo--centradoitalic {
  text-align: center;
  font-style: italic;
  margin-top: 15px;
  color: #626262;
}

#misionVision {
  margin-top: 50px;
}

.mision__titulo--uppercase_color_size,
.vision__titulo_uppercase_color_size,
.planes__titulo--uppercase_color_size {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
  color: #162a83;
}

.mision__parrafo--color,
.vision__parrafo--color {
  text-align: center;
  color: #626262;
}

#planesMain {
  margin-top: 50px;
}

.backgroud--transparente {
  background-color: transparent;
  border: 0px;
}

.card ul {
  list-style-type: none;
  text-align: center;
}

.card ul li {
  color: #626262;
}

.card ul li a {
  text-decoration: none;
  color: #162a83;
}

.card ul li a:hover {
  color: #0c5a2e;
}

.card-body h5 {
  text-align: center;
}

.card-body ul {
  padding: 0;
}

footer {
  background-color: #626262;
  margin-top: 15px;
}

.footer__texto--color {
  color: whitesmoke;
}

#pie__izq, #pie__centro, #pie__der, ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

#pie__izq, #pie__centro, #pie__der, ul li {
  color: #626262;
}

#pie__izq, #pie__centro, #pie__der, ul li a {
  text-decoration: none;
  color: #162a83;
}

#pie__izq, #pie__centro, #pie__der, ul li a:hover {
  color: white;
}

.empresa--parrafo {
  margin-top: 10px;
  text-align: justify;
  padding: 10px;
  font-size: 18px;
  font-weight: bolder;
}

#planesInternet, #planesTV {
  margin-top: 30px;
}

#mb50 .card-title {
  color: #162a83;
}

.cobertura--titulo, .principal__contacto--titulo {
  text-align: center;
  margin-top: 10px;
  color: #162a83;
  padding: 15px;
  font-weight: bolder;
}

.cobertura__pie--parrafo {
  color: #626262;
  text-align: center;
  margin-top: 10px;
  padding: 15px;
  font-weight: bolder;
}

.mymaps {
  margin: 0 auto;
  display: block;
}

.titulo--animado {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textclip 2s linear infinite;
          animation: textclip 2s linear infinite;
  font-size: 48px;
}

@-webkit-keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#mision, #vision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#visionimg, #misionimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bi-wifi, .bi-telephone-inbound, .bi-badge-4k {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 72px;
  color: #162a83;
}

.bi-router, .bi-box-arrow-in-up, .bi-box-arrow-in-down, .bi-telephone, .bi-tv, .bi-modem, .bi-ui-checks-grid, .bi-tv {
  color: #162a83;
  font-size: 20px;
}

.font--size12 {
  font-size: 12px;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
  margin: 5px;
}

.btn:hover {
  background-color: #162a83;
}

.card-body ul li a {
  text-decoration: none;
  color: white;
}

.card-body ul li a:hover {
  color: white;
}

@media (min-width: 320px) and (max-width: 768px) {
  .mymaps {
    width: 300px;
  }
  #visionimg, #misionimg {
    display: none;
  }
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .principal__titulo--centradostrong {
    font-size: 32px;
  }
  .principal_subtitulo--centradoitalic {
    font-size: 24px;
  }
}
/*# sourceMappingURL=style.css.map */