@import "./variables/variables";
@import "./extend/extend";
@import "./mixin/mixin";

@font-face {
    font-family: Mohr;
    src: url("../assets/fonts/Mohr.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-family: Mohr;
}

body {
    background-color: whitesmoke;
}

header {
    background-color: map-get($colores, $key: gris );
    opacity: .9;
    margin-bottom: 10px;
    width: 100%;
}

nav {
    display: inline-block;
    width: 100%;
    ul {
        list-style-type: none;
        li {
            display: inline;
            padding: 10px;
            a {
                text-decoration: none;
                color: map-get($colores, $key: azul );
                font-size: 20px;
                font-weight: bold;
                    &:hover {
                        color: rgb(255, 255, 255);
                    }
            }
        }
    }
}

.principal__titulo--centradostrong {
    text-align: center;
    margin-top: 20px;
    font-weight: bolder;
    color: map-get($colores, $key: azul );
}

.principal_subtitulo--centradoitalic {
    text-align: center;
    font-style: italic;
    margin-top: 15px;
    color: map-get($colores, $key: gris );
}

#misionVision {
    margin-top: 50px;
}

.mision__titulo--uppercase_color_size,
.vision__titulo_uppercase_color_size,
.planes__titulo--uppercase_color_size {
    @extend .uppercase;
    @include fuente(center,1.5rem);
    font-weight: 600;
    margin-bottom: 25px;
    color: map-get($colores, $key: azul );
}

.mision__parrafo--color,
.vision__parrafo--color {
    text-align: center;
    color: map-get($colores, $key: gris );;
}

#planesMain {
    margin-top: 50px;
}

.backgroud--transparente {
    background-color: transparent;
    border: 0px;
}

.card ul {
    list-style-type: none;
    text-align: center;
    li {
        color: map-get($colores, $key: gris );
        a{
            text-decoration: none;
            color: map-get($colores, $key: azul );
                &:hover {
                    color: rgb(12, 90, 46);
                }
        }
       
    }
}

.card-body {
    h5 {
        text-align: center;
    }
    ul {
        padding: 0;
    }
}

footer {
    background-color: map-get($colores, $key: gris );
    margin-top: 15px;
}

.footer__texto--color {
    color: whitesmoke;
}

#pie__izq, #pie__centro, #pie__der, ul 
{
    list-style-type: none;
    text-align: center;
    padding: 0;
    li {
        color: map-get($colores, $key: blacno );
    }
    a {
        text-decoration: none;
        color: map-get($colores, $key: azul );
        &:hover {
            color: map-get($colores, $key: blanco );
        }
    }
}

.empresa--parrafo {
    @include fuente(justify,20px);
    @include marginTopPadd(10px,10px);
    font-weight: bolder;
}

#planesInternet, #planesTV {
    margin-top: 30px;
}

.card-title {
    color: map-get($colores, $key: azul );
}

.cobertura--titulo, .principal__contacto--titulo {
    @include marginTopPadd(10px,15px); 
    text-align: center;
    color: map-get($colores, $key: azul );
    font-weight: bolder;
}

.cobertura__pie--parrafo {
    @include marginTopPadd(10px,15px);
    color: map-get($colores, $key: gris );;
    text-align: center;
    font-weight: bolder;
}

.mymaps {
    margin: 0 auto;
    display: block;
}  
.titulo--animado
{
    @extend .uppercase;
    background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  
  font-size: 48px;
}    

 @keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#visionimg, #misionimg {
    @extend .display--flex;
}

#mision, #vision {
    @extend .display--flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.bi-wifi, .bi-telephone-inbound, .bi-badge-4k {
    @extend .display--flex;
    font-size: 72px;
    color: map-get($colores, $key: azul );
}

.bi-router, .bi-box-arrow-in-up, .bi-box-arrow-in-down, .bi-telephone, .bi-tv, .bi-modem, .bi-ui-checks-grid, .bi-tv {
    color: map-get($colores, $key: azul );
    font-size: 20px;
}
.font--size12 {
    font-size: 12px;
}

.btn {
    transition-delay: 100ms;
    margin: 5px;
    &:hover {
        background-color: map-get($colores, $key: azul );
    }
}

.card-body ul li a {
    text-decoration: none;
    color: map-get($colores, $key: blanco );
    &:hover {
        color: map-get($colores, $key: blanco );
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .mymaps {
        width: 300px;
    }

    #visionimg, #misionimg {
        display: none;
    }
    .nav {
        justify-content: center;
        align-items: center;
    }
    .principal__titulo--centradostrong {
        font-size: 32px;
    }
    .principal_subtitulo--centradoitalic {
        font-size: 24px;
    }
}